.custom-border {
    border-right: #00DE9A solid 5px;
    padding-right: 10px;
}

.about-us-content {
    margin-top: 40px;
}

.about-us-img {
    margin-top: 20px;
}

.about-us-content p {
    margin: 65px 0;
}

.about-us-items {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.about-us-items p {
    color: #7a7979;
}

.about-us-items img {
    background-color: white;
    padding: 20px;
    border-radius: 25px;
    box-shadow: 2px 2px 31px #d7e7f7;
}

.about-us-items section {
    text-align: center;
}

@media only screen and (max-width: 600px) {
    .about-us {
        display: none;
    }
    .about-us-section {
        flex-wrap: wrap;
    }
    .about-us-content-res p {
        margin: 50px 0;
        font-size: 20px;
    }
}

@media only screen and (min-width: 600px) {
    .about-us-content-res {
        display: none;
    }
}