.download-app-bg {
    background-image: url(../img/background.png);
    
}

.custom-input {
    border-radius: 10px;
    border: none;
    width: 60%;
    padding: 10px 20px;
    background-color: whitesmoke;
}
.input{
    position: relative;
}
.send {
    color: white;
    background-color: #1894FF;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    position: absolute;
    top: 5px;
}
.custom-row{
height: 600px;
}
.sec-right {
    margin-top: 130px;
}

.sec-right p, .sec-right .input {
    margin: 25px 0;
}
.mobile{
    margin-top: 65px;
}

@media only screen and (max-width: 600px) {
    .btn-display {
        display: none;
    }
    .sec-right {
        text-align: center;
    }
    .mobile-img-container{
        position: relative;
    }
    .mobile {
        left: 25%;
        top: 57px;
        position: absolute;
        height: 300px;
        margin-top: 0px;
    }
    .custom-row{
        height: 815px;
    }
    .send{
        left: 5px;
    }
    .custom-input{
        width: 100%;
    }
}

@media only screen and (min-width: 600px) {
    .sec-right{
        margin-right: 90px;
        margin-top: 185px;
    }
    .send{
        left: 237px;
    }

}