.doctor-img img{
    width: 100%;
}
.pharmacy-content{
    margin-top: 50px;
}
.pharmacy-content p {
    padding: 35px 0;
    font-size: 10px;
}
.custom-shadow{
    
    box-shadow: 2px 2px 31px #d7e7f7;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
}

@media only screen and (max-width: 600px){

}
@media only screen and (min-width: 600px){
.send{
    left: 275px;
}
}