.footer-content p{
font-size: 10px;
}
.footer-content{
    margin: 25px 0;
}
.social-media-icon img{
margin: 0 10px;
}
.coltwo p{
    margin: 15px 0;
    font-size: 10px;
}
.colthree p{
    margin: 15px 0;
    font-size: 10px;
}
.colfour img{
    margin: 15px 0;
}
@media only screen and (max-width: 600px){
    .dis-none{
        display: none;
    }
    .social-media-icon{
        text-align: center;
    }
}
@media only screen and (min-width: 600px){

}
