.nav-logo-content{
    margin-right: 10px;
}
.nav-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 8px 0 0 0;
}
.nav-menu{
    display: flex;
    justify-content: space-evenly;
    align-items: center;  
}
.nav-menu li{
    margin-top: 20px;
}
.menu-icon-btn{
    border: 0;
    background: transparent;
    font-size: 25px;
 }
 .menu-icon{
    padding-top: 20px;
 }
.nav-btn{
    padding-top: 10px;
}
.nav-btn button , .nav-btn-res{
    padding: 5px 20px 5px 20px;
    color: #1894FF;
    border: none;
    background-color: #E6F3FF;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    margin: 5px 0 5px 0;
    font-size: 15px;
    font-family: Vazir-Medium;
}
@media only screen and (max-width: 600px){

    .menu-icon{
    display: flex;
    justify-content: flex-end;
    margin: 6px 0 0 15px;
    }
    .nav-menu-none{
        display: none;
    }
    .nav-menu-block{
        display: block;
    }
    .nav-btn{
        display: none;
    }
    .nav-logo-content p{
        font-size: 14px;
    }
    .nav-logo{
        padding-top: 10px;
    }
    .nav-menu{
        display: block !important;
    }
}

@media only screen and (min-width: 600px){
    .res-col{
        display: none;
    }
    .menu-icon{
        display: none;
    }
    .li-res{
        display: none;
    }
}


