.services-title {
    margin: 140px 20px 0 0;
}

.services-items {
    padding-top: 40px;
}

.services-items p {
    color: #7a7979;
}

.row-one, .row-two {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.S-one, .S-two, .S-three, .S-four {
    background-color: white;
    padding: 40px;
    text-align: center;
    margin: 20px;
    border-radius: 25px;
    box-shadow: 2px 2px 31px #d7e7f7;
}

.S-one p, .S-two p, .S-three p, .S-four p {
    font-size: 10px;
}

.one, .two, .three, .four {
    filter: grayscale(100%);
}

.one:hover {
    filter: grayscale(0%);
}

.two:hover {
    filter: grayscale(0%);
}

.three:hover {
    filter: grayscale(0%);
}

.four:hover {
    filter: grayscale(0%);
}

.services-content {
    margin: 50px 50px;
}

.services-content p {
    margin: 20px 0;
}

.step span {
    position: absolute;
    margin-right: 15px;
}

@media only screen and (max-width: 600px) {
    .step p {
        margin: -7px 46px 0 0;
    }
}

@media only screen and (min-width: 600px) {
    .step p {
        margin-right: 90px;
    }
}