/* .support-content {
    display: inline;
} */

.support-content p {
    font-size: 10px;

}

.support-content {
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.support-img {
    margin: 20px 95px 0 0;
}

@media only screen and (max-width: 600px) {
    .support-content{
        display: block;
        text-align: center;
    }
    .support-content p {
        text-align: center;
    }
    .support-img{
        text-align: center;
        margin: 0px 40px 10px 0;
    }
}

@media only screen and (min-width: 600px) {}