.row-order{
    display: flex;
    flex-wrap: wrap;
}
.slider-content {
    display: flex;
    justify-content: center;
}

.slider-text p {
    margin: 20px 0 20px 0;
}

.slider-right-btn {
    padding: 10px 25px;
    color: #fff;
    border: none;
    background-color: #1894ff;
    border-radius: 5px;
    margin-left: 13px;
}

.slider-left-btn {
    padding: 10px 25px;
    color: #1894ff;
    border: 1px solid #1894ff;
    background-color: white;
    border-radius: 5px;
    margin-left: 13px;
}

.slider-img {
    width: 100%;
}


@media only screen and (max-width: 600px) {
    .slider-content {

        margin-left: auto;
        margin-right: auto;

    }

    .slider-content p, .slider-content h2{
        text-align: center;
    }
    .slider-content button {
        display: block;
    }
    .slider-right-btn {

        margin-left: auto;
        margin-right: auto;
    }
    .slider-left-btn {

        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
    }
    .slider-img{
        margin: 29px 0;
    }
    .slider{
        flex-wrap: wrap;
    }
    .order-content{
        order: 2;
    }
    .order-img{
        order: 1;
    }


}

@media (min-width: 600px) {
    .slider-content {
        margin-top: 170px;
    }
}

.slider-content p {
    margin: 25px 0;
}