@import '_nav.css';
@import '_topslider.css';
@import '_aboutus.css';
@import '_services.css';
@import '_downloadapp.css';
@import '_drugstore.css';
@import '_support.css';
@import '_footer.css';
@font-face {
    font-family: Vazir-Medium;
    src: url(../fonts/Vazir-Medium.eot) format("eot"), url(../fonts/Vazir-Medium.woff) format("woff"), url(../fonts/Vazir-Medium.woff2) format("woff2");
}

*, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Vazir-Medium;
}

body {
    direction: rtl;
}

a {
    text-decoration: none;
}

li, ol, ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.container-fluid {
    width: 100%;
}

.container {
    clear: both;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

[class ^="col-"] {
    float: right;
    padding-right: 15px;
    padding-left: 15px;
}

.light-blue {
    background-color: #E6F3FF;
}

.medium-blue {
    background-color: #1894FF;
}

.dark-blue {
    background-color: #2361B5;
}

.medium-green {
    background-color: #00DE9A;
}

.dark-black {
    background-color: black;
}

.text_light_blue {
    color: #E6F3FF;
}

.text-medium-blue {
    color: #1894FF;
}

.text-dark-blue {
    color: #2361B5;
}

.text-gray {
    color: #7a7979;
}

.text-white {
    color: white;
}

.display-none {
    display: none;
}

.position-relative {
    position: relative;
}

.margin-top {
    margin-top: 30px;
}

.img {
    width: 100%;
    height: auto;
}

p {
    text-align: justify;
    line-height: 25px;
}

.mt-120 {
    margin-top: 120px;
}

pad-50{
    padding: 70px 0;
}
